@use '/src/styles/main.scss' as *;

.header {
  background-color: $white;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  min-height: toRem(100);

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: toRem(3) toRem(0) toRem(20) toRem(0) $header-shadow;
  z-index: 2;
  padding-left: toRem(30);
  padding-right: toRem(60);
  position: relative;

  @include media('<=tablet') {
    padding-right: toRem(20);
    padding-left: toRem(60);
  }

  @include media('<=phone-tab') {
    overflow-x: scroll;
  }

  &__hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    width: toRem(25);
    height: toRem(25);
    color: $primary-dark-blue;
    left: toRem(20);

    @include media('>tablet') {
      display: none;
    }
  }

  &__left {
    @include flex(center, center, toRem(168.2));

    // @include media('<=phone-tab') {
    //   gap: toRem(50);
    // }

    &__logo {
      width: toRem(144.8);
      height: toRem(30);

      @include media('<=tablet') {
        display: none;
      }
    }

    &__searchWrapper {
      width: toRem(400);
      height: toRem(40);
      @include flex(center, center, toRem(0));

      @include media('<=phone-tab') {
        width: toRem(306);
        margin-left: toRem(20);
      }

      &__input {
        box-sizing: border-box;
        width: toRem(344);
        height: toRem(40);
        border: toRem(1) solid rgba($primary-dark-blue, 0.2);
        padding-left: toRem(20);
        outline: none;
        border-top-left-radius: toRem(8);
        border-bottom-left-radius: toRem(8);
        border-right: none;

        font-family: $font-work-sans;
        font-size: toRem(14);
        font-weight: 400;
        line-height: toRem(16.42);
        color: $primary-dark-blue;
        font-family: $font-work-sans;

        @include media('<=phone-tab') {
          width: toRem(250);
        }

        &::placeholder {
          font-family: $font-work-sans;
          font-size: toRem(14);
          font-weight: 400;
          line-height: toRem(16.42);
          color: rgba($primary-dark-blue, 0.7);
        }

        @include media('<=tablet') {
          font-size: toRem(16);
        }

        @include media('<=phone-tab') {
          font-size: toRem(16);
        }
      }

      &__search {
        width: toRem(56);
        height: toRem(40);
        border-bottom-right-radius: toRem(8);
        border-top-right-radius: toRem(8);
        border: none;
        background-color: $primary-aqua;
        @include flex(center, center, 0);
        cursor: pointer;

        &__icon {
          width: toRem(14);
          height: toRem(14);
        }
      }
    }
  }

  &__info {
    @include flex(center, center, toRem(0));

    &__docs {
      font-family: $font-roboto;
      font-size: toRem(16);
      font-weight: 400;
      line-height: toRem(18.75);
      color: $primary-dark-blue;
      text-decoration: underline;
      cursor: pointer;

      @include media('<=phone-tab') {
        margin-left: toRem(50);
      }
    }

    &__notification {
      width: toRem(26);
      height: toRem(26);
      margin-left: toRem(47);
      cursor: pointer;

      @include media('<=tablet') {
        margin-left: toRem(17);
      }
    }

    &__profile {
      width: toRem(48);
      height: toRem(48);
      margin-left: toRem(30);

      @include media('<=tablet') {
        margin-left: toRem(20);
      }
    }

    &__name {
      @include flex(center, center, toRem(4));
      margin-left: toRem(10);
      cursor: pointer;
      &__text {
        font-family: $font-work-sans;
        font-size: toRem(16);
        font-weight: 500;
        line-height: toRem(18.77);
        color: $primary-dark-blue;
      }

      &__drop {
        width: toRem(20);
        height: toRem(20);
      }
    }
  }
}
