@use '/src/styles/main.scss' as *;

.sidebar {
  background-color: $white;
  grid-row: 2 / -1;
  grid-column: 1 / 2;
  height: calc(100vh - toRem(100));

  box-shadow: toRem(0) toRem(5) toRem(20) toRem(0) $header-shadow;
  z-index: 1;
  padding-top: toRem(39);
  padding-bottom: toRem(39);

  &__scrollWrapper {
    height: calc(100vh - toRem(239));

    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    & {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }

  &__group {
    margin-top: toRem(30);
    @include flex_col(toRem(30));
    &__container {
      @include flex_col(toRem(10));
      &__text {
        font-family: $font-work-sans;
        font-size: toRem(12);
        font-weight: 500;
        line-height: toRem(14.08);
        margin-left: toRem(30);
        text-transform: uppercase;
        color: $accent-dark-blue;
      }
    }
  }
}
