@use '/src/styles/main.scss' as *;

.usersTable {
  box-sizing: border-box;
  width: 100%;
  min-height: toRem(640);
  border-radius: toRem(4);
  border: toRem(1) solid rgba($primary-dark-blue, 0.06);
  box-shadow: toRem(3) toRem(5) toRem(20) toRem(0) $header-shadow;
  background-color: $white;

  padding: toRem(30);
  padding-bottom: toRem(20);

  &--loading {
    padding: toRem(0);
    box-shadow: none;
    border: none;
  }

  &__table {
    width: 100%;
    &__head {
      display: flex;
      align-items: center;
      gap: toRem(35);
      padding-bottom: toRem(14);
      &__group {
        @include flex(flex-start, center, toRem(10));

        &--org {
          width: toRem(116);
        }

        &--userName {
          width: toRem(106);
        }

        &--email {
          width: toRem(147);
        }

        &--phone {
          width: toRem(124);
        }

        &--date {
          width: toRem(154);
        }

        &--status {
          width: toRem(100);
        }

        &__title {
          font-family: $font-work-sans;
          font-size: toRem(12);
          font-weight: 600;
          line-height: toRem(14.08);
          color: $accent-dark-blue;
          text-transform: uppercase;
        }
      }
    }
  }
}
