@use '/src/styles/main.scss' as *;

.tableRow {
  height: toRem(63);
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: toRem(1) solid rgba($primary-dark-blue, 0.1);

  &--last {
    border-bottom: none;
  }

  &__row {
    @include flex(flex-start, center, toRem(35));
    position: relative;

    &__text {
      font-family: $font-work-sans;
      font-size: toRem(14);
      font-weight: 400;
      line-height: toRem(16.42);
      color: $accent-dark-blue;

      &--org {
        width: toRem(116);
      }

      &--name {
        width: toRem(106);
      }

      &--email {
        width: toRem(147);
      }

      &--phone {
        width: toRem(124);
      }

      &--date {
        width: toRem(154);
      }
    }

    &__popover {
      box-sizing: border-box;
      width: toRem(173);
      height: toRem(130);
      background-color: $white;
      border-radius: toRem(4);
      position: absolute;
      z-index: 100;
      padding: toRem(20);
      padding-bottom: toRem(22);
      border: toRem(1) solid rgba($accent-dark-blue, 0.04);
      box-shadow: toRem(3) toRem(5) toRem(20) toRem(0) $header-shadow;
      right: toRem(-53.5);
      top: toRem(-42.5);

      @include flex_col(toRem(20));

      @include media('<=phone-tab') {
        right: toRem(-33.5);
      }

      &__wrapper {
        @include flex(flex-start, center, toRem(8));
        cursor: pointer;

        &__viewIcon {
          width: toRem(16);
          height: toRem(16);
        }

        &__blacklistIcon {
          width: toRem(14);
          height: toRem(14);
        }

        &__activateIcon {
          width: toRem(14);
          height: toRem(14);
        }

        &__text {
          font-family: $font-work-sans;
          font-size: toRem(14);
          font-weight: 500;
          line-height: toRem(16.42);
          color: $accent-dark-blue;
        }
      }
    }

    &__userStatusWrapper {
      width: toRem(100);
    }

    &__userStatus {
      width: fit-content;
      height: toRem(30);
      border-radius: toRem(100);
      padding: toRem(7) toRem(12);
      padding-bottom: toRem(6);

      font-family: $font-work-sans;
      font-size: toRem(14);
      font-weight: 400;
      line-height: toRem(16.42);
      text-align: center;

      &--Active {
        background-color: rgba($primary-aqua, 0.06);
        color: $primary-aqua;
      }

      &--Pending {
        background-color: rgba($pending-yellow, 0.06);
        color: $pending-yellow;
      }

      &--Blacklisted {
        background-color: rgba($sharp-red, 0.06);
        color: $sharp-red;
      }

      &--Inactive {
        background-color: rgba($accent-dark-blue, 0.06);
        color: $accent-dark-blue;
      }
    }

    &__icon {
      width: toRem(20);
      height: toRem(20);
      cursor: pointer;
      transition: all 0.3 ease-in-out;

      &:hover {
        border-radius: toRem(4);
        background-color: rgba($accent-dark-blue, 0.06);
      }
    }
  }
}
