@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-work-sans: 'Work Sans', sans-serif;
$font-avenir: 'AvenirNext', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$black: #000000;
$primary-dark-blue: #213f7d;
$accent-dark-blue: #545f7d;
$light-grey: #fcfcfc;
$light-grey-2: #fbfbfb;
$white: #ffffff;
$primary-aqua: #39cdcc;
$hover-aqua: #33b6b5;
$header-shadow: #0000000a;
$medium-grey: #acacac;

%mg_au {
  margin: 0 auto;
}
%ta_center {
  text-align: center;
}

.offset {
  padding-top: toRem(120);
  margin-top: toRem(-120);
}
