@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-work-sans: 'Work Sanss', sans-serif;
$font-avenir: 'AvenirNext', sans-serif;

$black: #000000;

%mg_au {
  margin: 0 auto;
}
%ta_center {
  text-align: center;
}

.offset {
  padding-top: toRem(120);
  margin-top: toRem(-120);
}
