@use '/src/styles/main.scss' as *;

.appLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: toRem(283) 1fr;
  height: 100vh;

  &__main {
    background-color: $light-grey;
    overflow-y: auto;
    overflow-x: hidden;
    grid-column: 2 / 3;
    grid-row: 2 / -1;

    &__container {
      max-width: toRem(1037);
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
  }
}
