@use '/src/styles/main.scss' as *;

.appLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: toRem(283) 1fr;
  height: 100vh;

  @include media('<=tablet') {
    grid-template-columns: 1fr;
  }

  @include media('<=phone-tab') {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  &__main {
    background-color: $light-grey;
    overflow-y: auto;
    overflow-x: hidden;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    padding: toRem(60);

    @include media('<=tablet') {
      padding-top: toRem(40);
      padding-right: toRem(20);
      padding-left: toRem(20);
      width: 100vw;
    }

    &__container {
      max-width: toRem(1037);
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      @include media('<=tablet') {
        width: 100%;
      }
    }
  }
}
