@use '/src/styles/main.scss' as *;

.users {
  @include flex_col(toRem(40));

  @include media('<=tablet') {
    gap: toRem(20);
  }

  &__heading {
    font-family: $font-work-sans;
    font-size: toRem(24);
    font-weight: 500;
    line-height: toRem(28.15);
    text-align: left;
    color: $primary-dark-blue;
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<=tablet') {
      overflow-x: scroll;
      gap: toRem(20);
      padding-bottom: toRem(5);
    }
  }
}
