* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  // scroll-behavior: smooth;
  font-size: calc(100vw / 1440 * 16);
  @include media('<=tablet') {
    font-size: calc(100vw / 475 * 10);
  }
  @include media('<=phone-tab') {
    font-size: calc(100vw / 375 * 14);
  }
}
body {
  font-family: $font-work-sans;
  overflow-x: hidden;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4 {
  font-family: $font-work-sans;
}
a,
p {
  color: $black;
  font-size: toRem(16);
  font-weight: 400;
  line-height: 1rem;
  @include media('<=phone-tab') {
    font-size: toRem(14);
    line-height: 1rem;
  }
}
section {
  width: 100%;
}
button {
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border: none;
}
a {
  text-decoration: none;
  line-height: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
input,
textarea,
select {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: toRem(7);
  cursor: grab;
}

::-webkit-scrollbar-track {
  background: $light-grey;
  border-radius: toRem(25);
  cursor: grab;
}

::-webkit-scrollbar-thumb {
  background-color: $medium-grey;
  border-radius: toRem(25);
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $medium-grey;
}
